*{
    padding: 0;
    margin: 0;
}
.parent{
    padding: 25px;
    background-color: blanchedalmond;
}
.child{
    border: 2px solid rgb(15, 158, 160);
    background: rgb(178, 228, 229);
    padding: 20px;
    font-size: 18px;
    margin: 10px 0;
}