nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    color: black;
}
nav li:hover{
    background-color: aquamarine;
}

nav li .dropdown{
    display: none;
    position: absolute;
    background-color: lightseagreen;
    z-index: 9;
    padding-left: 10px;
    
}

nav li:hover .dropdown{
    display: block;
}